<h1>New Dog</h1>

<%= form_for :dog, url: dogs_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
